<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/b0b2a177-15eb-4130-a787-53996bcb9554/v3/index.json" />
  </packageSources>
</configuration>
